@layoutadmin("Panel admina") {
<div class="row">
<div class="col-sm-2">	
    <ul class="nav nav-pills nav-stacked">
  <li> <a href="/users/index">Użytkownicy</a> </li>
  <li> <a href="/sections/index">Sekcje</a> </li>
  <li> <a href="/forms/index">Formularze</a> </li>
</ul>
    
   </div> </div>
}

 
