@(submint: Submint)

@layoutadmin(submint.formularz.name + ": odpowiedzi użytkownika " + submint.userAnswer.login){
    <h2>@submint.formularz.name: odpowiedzi użytkownika '@submint.userAnswer.login'</h2>
    @for(question <- submint.formularz.questions){
    <div class="panel panel-default">
        <div class="panel-heading">@question.question</div>
        <div class="panel-body">
            @for(answer <- submint.answers){
                @if(answer.question.id == question.id){
                    <p>@answer.answer</p>
                }
            }
        </div>
    </div>
    }
}