@(questionForm: Form[Question], title: String)

@layoutadmin(title) {

<script src='@routes.Assets.versioned("javascripts/addQuestion.js")' type='text/javascript'></script>

<h2>Dodaj pytanie do formularza:</h2>
<form action="" method="post" role="form" id="questionForm">
    <h3>Pytanie:</h3>
    <div class="form-group">
        @helper.inputText(questionForm("question"), '_label -> "Treść pytania", '_help -> "Max. 200 znaków", 'class -> "form-control" )
    </div>
    <div class="form-group">
        <label for="questionType">Rodzaj pytania:</label>
        <select class="form-control" name="questionType" id="questionType">
            <option value="1">Tekst</option>
            <option value="2">Wielokrotny wybór</option>
            <option value="3">Jednokrotny wybór</option>
            <option value="4">Data</option>
        </select>
    </div>
    <div id="answers-div">
        <h3 id="answers-head">Odpowiedzi: (min. 2)</h3>
        <div class="form-group" id="answers">
            <p id="error"></p>
            <input style="margin-bottom:5px" type="text" class="form-control" id="ans1" name="ans1">
            <input style="margin-bottom:5px" type="text" class="form-control" id="ans2" name="ans2">
            <input style="margin-bottom:5px" type="text" class="form-control" id="ans3" name="ans3">
            <input style="margin-bottom:5px" type="text" class="form-control" id="ans4" name="ans4">
            <input style="margin-bottom:5px" type="text" class="form-control" id="ans5" name="ans5">
            <input style="margin-bottom:5px" type="text" class="form-control" id="ans6" name="ans6">
            <input style="margin-bottom:5px" type="text" class="form-control" id="ans7" name="ans7">
            <input style="margin-bottom:5px" type="text" class="form-control" id="ans8" name="ans8">
            <input style="margin-bottom:5px" type="text" class="form-control" id="ans9" name="ans9">
            <input type="text" class="form-control" id="ans10" name="ans10">
        </div>
    </div>
    <input type="submit" value="Dodaj pytanie" class="btn btn-default">
</form>
}