@(formularz: Formularz, tab: String)

@layoutadmin("Szczegóły formularza"){
    <!--skrypt zamieniający linki klasy post-action i add-action w żądanie POST-->
    <script src='@routes.Assets.versioned("javascripts/deleteActions.js")' type='text/javascript'></script>
    <script src='@routes.Assets.versioned("javascripts/postAddActions.js")' type='text/javascript'></script>

    <h2>Formularz: @formularz.name</h2>

    <ul class="nav nav-tabs">
        <li @if(tab == "questions"){class="active"}><a data-toggle="tab" href="#questions">Pytania</a></li>
        <li @if(tab == "submited"){class="active"}><a data-toggle="tab" href="#submited">Wypełnione</a></li>
    </ul>

    <div class="tab-content">
        <div id="questions" class="tab-pane fade @if(tab == "questions"){in active}">
            <br />
            @if(!formularz.accepted){
                <a href="/forms/@formularz.id/add-question" class="btn btn-primary">Dodaj pytanie</a>
                <a href="/forms/accept/@formularz.id" class="btn btn-success add-action">Zaakceptuj</a>
            }else{
                <p>Formularz zaakceptowany</p>
            }
            @if(flash.containsKey("form-questions-alert")) {
            <div class="alert alert-info">
                <strong>Info: </strong>@flash.get("form-questions-alert")
            </div>
            }
            <table class="table table-condensed">
                <thead>
                <tr>
                    <th>Pytanie</th>
                    <th>Typ</th>
                    <th>Odpowiedzi</th>
                </tr>
                </thead>
                <tbody>
                @for(question <- formularz.questions) {
                <tr>
                    <td>@question.question</td>
                    <td>
                        @if(question.questionType == 1){ Tekst }
                        @if(question.questionType == 2){ Pole wielokrotnego wyboru }
                        @if(question.questionType == 3){ Pole jednokrotnego wyboru }
                        @if(question.questionType == 4){ Data }
                    </td>
                    <td>
                        @if(question.questionType == 2 || question.questionType == 3){
                            @for(answer <- question.answers){
                                @answer.answer<br />
                            }
                        }else{
                            Indywidualne
                        }
                    </td>
                    @if(!formularz.accepted){
                        <td><a class="post-action" href="/questions/delete/@question.id"><span class="glyphicon glyphicon-trash"></span></a></td>
                    }
                </tr>
                }
                </tbody>
            </table>
        </div>

        <div id="submited" class="tab-pane fade @if(tab == "submited"){in active}">
            <br />
            <ul>
                @for(submint <- formularz.submints){
                    @if(submint.completed){
                        <li><a href="/forms/@formularz.id/showAnswers/@submint.userAnswer.id">@submint.userAnswer.login</a></li>
                    }
                }
            </ul>
        </div>
    </div>

}