@(formularzForm: Form[Formularz], title: String)

@layoutadmin(title) {

<script src='@routes.Assets.versioned("javascripts/datepicker.js")' type='text/javascript'></script>

<form action="" method="post" role="form">
    <div class="form-group">
        @helper.inputText(formularzForm("name"), '_label -> "Nazwa", '_help -> "Max. 50 znaków. Pole jest wymagane.", 'class -> "form-control" )
    </div>
    <div class="form-group">
        
		<label> Dedline</label><br>
	 <input type="text" id="deadline" name="deadline" value="" disable="yes" />


    </div>
    <input type="submit" value="Wyślij" class="btn btn-default">
</form>
}
