@(forms: List[Formularz])

@layoutadmin("Formularze") {
<!--skrypt zamieniający linki klasy post-action w żądanie POST-->
<script src='@routes.Assets.versioned("javascripts/deleteActions.js")' type='text/javascript'></script>

<h2>Formularze</h2>
<a href="/forms/create" class="btn btn-primary">Dodaj formularz</a>
@if(flash.containsKey("forms-alert")) {
<div class="alert alert-info">
    <strong>Info: </strong>@flash.get("forms-alert")
</div>
}
<table class="table table-striped">
    <thead>
    <tr>
        <th>Nazwa</th>
        <th>Termin ważności</th>
        <th>Zaakceptowany</th>
        <th>Akcje</th>
    </tr>
    </thead>
    <tbody>
    @for(form <- forms) {
    <tr>
        <td><a href="/forms/view/@form.id">@form.name</a></td>
        <td>@form.deadline</td>
        <td>
            @if(form.accepted){
                <span class="glyphicon glyphicon-ok"></span>
            }else{
                <span class="glyphicon glyphicon-remove"></span>
            }
        </td>
        <td>
            <a href="/forms/update/@form.id" title="Edytuj"><span class="glyphicon glyphicon-pencil"></span></a>
            <a href="/forms/delete/@form.id" title="Usun" class="post-action"><span class='glyphicon glyphicon-trash'></span></a>
        </td>
    </tr>
    }
    </tbody>
</table>
}
