@layoutadmin("Zarządzanie użytkownikami"){

	<script src='@routes.Assets.versioned("javascripts/indexUsers.js")' type='text/javascript'></script>


        <h2>Użytkownicy</h2>
		<a href="/users/create" class="btn btn-primary">Dodaj użytkownika</a>
		@if(flash.containsKey("users-alert")) {
			<div class="alert alert-info">
				<strong>Info: </strong>@flash.get("users-alert")
			</div>
		}
        <table class="table table-striped">
            <thead>
                <tr>
					<th>Imię</th>
					<th>Nazwisko</th>
					<th>Login</th>
					<th>Email</th>
					<th>Admin</th>
					<th>Akcje</th>
				</tr>
            </thead>
			<tbody id="users"></tbody>
        </table>
		<img src='@routes.Assets.versioned("images/loading.gif")' id='loadingGif'>


}
