@(sections: List[Section])

@layoutadmin("Sekcje") {
    <!--skrypt zamieniający linki klasy post-action w żądanie POST-->
    <script src='@routes.Assets.versioned("javascripts/deleteActions.js")' type='text/javascript'></script>

    <h2>Sekcje</h2>
    <a href="/sections/create" class="btn btn-primary">Dodaj sekcję</a>
    @if(flash.containsKey("sections-alert")) {
    <div class="alert alert-info">
        <strong>Info: </strong>@flash.get("sections-alert")
    </div>
    }
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Nazwa</th>
            <th>Akcje</th>
        </tr>
        </thead>
        <tbody>
        @for(section <- sections) {
        <tr>
            <td><a href="/sections/view/@section.id">@section.name</a></td>
            <td>
                <a href="/sections/update/@section.id" title="Edytuj"><span class="glyphicon glyphicon-pencil"></span></a>
                <a href="/sections/delete/@section.id" title="Usun" class="post-action"><span class='glyphicon glyphicon-trash'></span></a>
            </td>
        </tr>
        }
        </tbody>
    </table>
}
