@(sekcja: Section, users: List[User])

@layoutadmin("Dodaj członka"){
    <!--skrypt zamieniający linki klasy post-action w żądanie POST-->
    <script src='@routes.Assets.versioned("javascripts/postAddActions.js")' type='text/javascript'></script>

    <h2>Wybierz nowego członka dla sekcji: @sekcja.name</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Imię</th>
            <th>Nazwisko</th>
            <th>Login</th>
            <th>Akcje</th>
        </tr>
        </thead>
        <tbody>
        @for(user <- users) {
        <tr>
            <td>@user.name</td>
            <td>@user.surname</td>
            <td><a href="/users/view/@user.id">@user.login</a></td>
            <td><a class="add-action" href="/sections/@sekcja.id/add-member/@user.id">Wybierz</a></td>
        </tr>
        }
        </tbody>
    </table>
}
