@(sekcja: Section, tab: String)

@layoutadmin("Szczegóły sekcji"){
    <!--skrypt zamieniający linki klasy post-action w żądanie POST-->
    <script src='@routes.Assets.versioned("javascripts/deleteActions.js")' type='text/javascript'></script>

    <h2>Sekcja: @sekcja.name</h2>

    <ul class="nav nav-tabs">
        <li @if(tab == "members"){class="active"}><a data-toggle="tab" href="#members">Członkowie</a></li>
        <li @if(tab == "forms"){class="active"}><a data-toggle="tab" href="#forms">Przypisane formularze</a></li>
    </ul>

    <div class="tab-content">
        <div id="members" class="tab-pane fade @if(tab == "members"){in active}">
            <br />
            <a href="/sections/@sekcja.id/add-member" class="btn btn-primary">Dodaj użytkownika do sekcji</a>
            @if(flash.containsKey("section-members-alert")) {
            <div class="alert alert-info">
                <strong>Info: </strong>@flash.get("section-members-alert")
            </div>
            }
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Imię</th>
                    <th>Nazwisko</th>
                    <th>Login</th>
                    <th>Email</th>
                    <th>Akcje</th>
                </tr>
                </thead>
                <tbody>
                @for(user <- sekcja.users) {
                <tr>
                    <td>@user.name</td>
                    <td>@user.surname</td>
                    <td><a href="/users/view/@user.id">@user.login</a></td>
                    <td><a href="mailto:@user.email">@user.email</a></td>
                    <td><a class="post-action" href="/sections/@sekcja.id/delete-member/@user.id"><span class="glyphicon glyphicon-trash"></span></a></td>
                </tr>
                }
                </tbody>
            </table>
        </div>
        <div id="forms" class="tab-pane fade @if(tab == "forms"){in active}">
            <br />
            <a href="/sections/@sekcja.id/add-form" class="btn btn-primary">Przypisz nowy formularz</a>
            @if(flash.containsKey("section-forms-alert")) {
            <div class="alert alert-info">
                <strong>Info: </strong>@flash.get("section-forms-alert")
            </div>
            }
            <table class="table table-condensed">
                <thead>
                <tr>
                    <th>Nazwa</th>
                    <th>Termin ważności</th>
                    <th>Akcje</th>
                </tr>
                </thead>
                <tbody>
                @for(formularz <- sekcja.forms) {
                <tr>
                    <td><a href="/forms/view/@formularz.id">@formularz.name</a></td>
                    <td>@formularz.deadline</td>
                    <td><a class="post-action" href="/sections/@sekcja.id/delete-form/@formularz.id"><span class="glyphicon glyphicon-trash"></span></a></td>
                </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
}
