@(sekcja: Section, forms: List[Formularz])

@layoutadmin("Dodaj formularz do sekcji"){
<!--skrypt zamieniający linki klasy post-action w żądanie POST-->
<script src='@routes.Assets.versioned("javascripts/postAddActions.js")' type='text/javascript'></script>

<h2>Wybierz formularz aby dodać go do sekcji: @sekcja.name</h2>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Nazwa</th>
        <th>Termin ważności</th>
    </tr>
    </thead>
    <tbody>
    @for(formularz <- forms) {
    <tr>
        <td>@formularz.name</td>
        <td>@formularz.deadline</td>
        <td><a class="add-action" href="/sections/@sekcja.id/add-form/@formularz.id">Dodaj</a></td>
    </tr>
    }
    </tbody>
</table>
}
