@(sectionForm: Form[Section], update: Boolean, title: String)

@layoutadmin(title) {

<form action="" method="post" role="form">
    <div class="form-group">
        @helper.inputText(sectionForm("name"), '_label -> "Nazwa", '_help -> "Max. 60 znaków. Pole jest wymagane.", 'class -> "form-control" )
    </div>
    <input type="submit" value="Wyślij" class="btn btn-default">
</form>
}