@(form: Formularz)

@layoutuser("Moje formularze") {

<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<!--<script src="//code.jquery.com/jquery-1.10.2.js"></script> -->
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src='@routes.Assets.versioned("javascripts/postAnswer.js")' type='text/javascript'></script>
<script>
  $(function() {
    $( ".datepicker" ).datepicker({
        dateFormat: "dd-mm-yy"
    });
  });
</script>
    <h2>@form.name</h2>
    @if(!form.questions.isEmpty){
        @for(question <- form.questions) {
            <div class="panel panel-default">
                <div class="panel-heading">@question.question</div>
                <div class="panel-body">
                        <p>Odpowiedź:</p>
                        @if(question.questionType == 1){
                            <textarea id="@question.id" rows="4" cols="50"></textarea>
                        }
                        @if(question.questionType == 2) {
                            <div id="@question.id">
                                @for(answer <- question.answers) {
                                    <input type="checkbox" value="@answer.id">@answer.answer<br />
                                }
                            </div>
                        }
                        @if(question.questionType == 3){
                                @for(answer <- question.answers){
                                    <input type="radio" name="@question.id" value="@answer.id">@answer.answer<br />
                                }
                        }
                        @if(question.questionType == 4){
                            <input id="@question.id" type="text" class="datepicker"><br />
                        }
                        <br /><button type="button" data-question="@question.id" data-type="@question.questionType" class="btn btn-success send-answer">Zapisz</button>
                </div>
            </div>
        }
    }else{
        <div class="alert alert-info">
            Odpowiedziałeś już na wszystkie pytania.
        </div>
    }
}