@(user: User)

@layoutuser("Moje formularze") {
    @for(section <- user.sections) {
        <div class="panel panel-default">
            <div class="panel-heading">@section.name</div>
            <div class="panel-body">
               <table class="table table-striped">
                    @for(formularz <- section.forms) {
                     <tr>
                        <td class="col-md-9">@formularz.name</td>
                        <td class="col-md-3"><a class="btn btn-success" href="/user/prepare-to-fill/@formularz.id">Wypełnij</a>
                        <a class="btn btn-primary" href="/user/showAnswers/@formularz.id">Pokaż moje odpowiedzi</a></td>
                    </tr>
                    }
                </table>
            </div>
        </div>
    }
}