@(userForm: Form[User], update: Boolean, title: String)

@layoutadmin(title) {

<form action="" method="post" role="form">
    <div class="form-group">
        @helper.inputText(userForm("name"), '_label -> "Imię", '_help -> "Max. 50 znaków", 'class -> "form-control" )
    </div>
    <div class="form-group">
        @helper.inputText(userForm("surname"), '_label -> "Nazwisko", '_help -> "Max. 50 znaków", 'class -> "form-control")
    </div>
    <div class="form-group">
        @helper.inputText(userForm("email"), '_label -> "Adres e-mail", '_help -> "Max. 50 znaków", 'class -> "form-control")
    </div>
    <div class="form-group">
        @if(update){<fieldset disabled>}
        @helper.inputText(userForm("login"), '_label -> "Login", '_help -> "Pole jest wymagane. Max. 20 znaków", 'class -> "form-control")
        @if(update){</fieldset>}
    </div>
    <div class="form-group">
        @helper.inputPassword(userForm("password"), '_label -> "Hasło", '_help -> "Pole jest wymagane", 'class -> "form-control")
    </div>
    <div class="form-group">
        @helper.inputPassword(userForm("repeatPassword"), '_label -> "Powtórz hasło", '_help -> "Pole jest wymagane", 'class -> "form-control")
    </div>
    <div class="form-group">
        @helper.checkbox(userForm("admin"), '_label -> "Admin")
    </div>
    <input type="submit" value="Wyślij" class="btn btn-default">
</form>
}