@(submint: Submint, answered: List[Question])

@layoutuser(submint.formularz.name + ": moje odpowiedzi") {
    <h2>@submint.formularz.name: moje odpowiedzi</h2>
    @for(question <- answered){
        <div class="panel panel-default">
            <div class="panel-heading">@question.question</div>
            <div class="panel-body">
                @for(answer <- submint.answers){
                    @if(answer.question.id == question.id){
                        <p>@answer.answer</p>
                    }
                }
            </div>
        </div>
    }
}