@(user: User)

@layoutadmin("Welcome to Play") {

    <script src='@routes.Assets.versioned("javascripts/deleteActions.js")' type='text/javascript'></script>

    <h2>Szczegóły użytkownika</h2>
    <a href="/users/update/@user.id" class="btn btn-primary" role="button"><span class='glyphicon glyphicon-pencil'></span> Edytuj</a>
    <a class='btn btn-danger post-action' href='/users/delete/@user.id'><span class='glyphicon glyphicon-trash'></span> Usuń</a>
    <table class="table table-striped">
        <tr>
            <th>Imię:</th>
            <td>@user.name</td>
        </tr>
        <tr>
            <th>Nazwisko:</th>
            <td>@user.surname</td>
        </tr>
        <tr>
            <th>Email:</th>
            <td><a href="mailto:@user.email">@user.email</a></td>
        </tr>
        <tr>
            <th>Login:</th>
            <td>@user.login</td>
        </tr>
        <tr>
            <th>Admin:</th>
            @if(user.admin != null){
                <td><span class='glyphicon glyphicon-ok'></span></td>
            }else{
                <td><span class='glyphicon glyphicon-remove'></span></td>
            }
        </tr>
    </table>

}
